<div class="container">
    <div class="jumbotron">
        <img src="../assets/burger.jpg">
        <h1>Eat-Da-Burger!</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">Burgers List</div>
                <ul class="list-group">
                    {{#each burgers}}
                    {{#unless this.devoured}}
                    <li class="list-group-item">
                        {{this.burger_name}}
                        <button id="sizebtn" data-id="{{this.id}}" class="update-order btn btn-success btn-lg btn-block"
                            type="submit">Devour</button>

                    </li>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-2">
            <div class="panel panel-success">
                <div class="panel-heading">Devoured Burgers</div>
                <ul class="list-group">
                    {{#each burgers}}
                    {{#if this.devoured}}
                    <li class="list-group-item">
                        {{this.burger_name}}
                    </li>
                    <button id="sizebtn" class="delete-order btn btn-success btn-lg btn-block" data-id="{{this.id}}"
                        type="submit">Delete</button>

                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-info">
            <div class="panel-heading">Add a Burger</div>
            <div class="panel-body">
                <p>Enter the name of burger you're craving and tap the submit button.</p>
                <!-- section to add burgers -->
                <form>
                    <div class="form-group">
                        <label for="name">Burger Name: </label>
                        <input type="text" id="burger_name" name="burger_name" placeholder="Yummy Burger">
                        <button id="create-form" class="btn btn-primary btn-sm" type="submit"> Add The Burger</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>