<div class="container">
    <div class="jumbotron">
        <img src="../assets/img/burger.jpg">
        <h1>Eat-That-Burger</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">Burgers List</div>
                <ul class="list-group">
                    {{#each burgers}}
                    {{#unless this.devoured}}
                    <li class="list-group-item">
                        <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                            <button id="sizebtn" class="btn btn-success btn-lg btn-block"
                                type="submit">{{this.burger_name}}</button>
                        </form>
                    </li>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-2">
            <div class="panel panel-success">
                <div class="panel-heading">Devoured Burgers</div>
                <ul class="list-group">
                    {{#each burgers}}
                    {{#if this.devoured}}
                    <li class="list-group-item">
                        {{this.burger_name}}
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-info">
            <div class="panel-heading">Add a Burger</div>
            <div class="panel-body">
                <p>Enter the name of burger you're craving and tap the submit button.</p>
                <!-- section to add burgers -->
                <form action="/burgers" method="POST">
                    <div class="form-group">
                        <label for="name">Burger Name: </label>
                        <input type="text" id="name" name="burger_name" placeholder="Yummy Burger">
                        <button class="btn btn-primary btn-sm" type="submit"> Add The Burger</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>